
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal */
.container {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

/* Cabeçalho */
header h1 {
    color: #a200ff;
    font-size: 2.5em;
}

header p {
    color: #333;
    font-size: 1.1em;
    margin-top: 10px;
}

/* Conteúdo principal */
.main-content h2 {
    color: #333;
    font-size: 1.8em;
    margin: 20px 0;
}

.main-content p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Estilo do botão de compra */
.button-compra {
    background-color: #4e2ea7; /* Cor vibrante laranja */
    color: white; /* Texto branco */
    font-size: 20px; /* Tamanho do texto */
    font-weight: bold; /* Texto em negrito */
    padding: 15px 40px; /* Espaçamento interno */
    border-radius: 50px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto */
    text-decoration: none; /* Remove sublinhado do link */
    display: inline-block; /* Faz o botão se comportar como um link */
    transition: all 0.3s ease; /* Transição suave para hover */
}

.button-compra:hover {
    background-color: #6b00e6; /* Cor mais escura no hover */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra mais forte ao passar o mouse */
    cursor: pointer; /* Cursor de mão */
}

/* Responsividade para dispositivos menores */
@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .button-compra {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
}
